/Assignment_2/nbproject/private/
/Assignment_2/build/
/Assignment_3/nbproject/private/
/Assignment_3/build/
/Assignment_4/nbproject/private/
/Assignment_4/build/
/Assignment_5/nbproject/private/
/Assignment5Skeleton/db4odemo/nbproject/private/
/Assignment_5/db4odemo/nbproject/private/
/Assignment_5/db4odemo/build/
/Assignment_5/db4odemo/dist/
